body {
  text-align: center;
  padding: 1%;

}


.countryInfo {
  display: flex;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 15px;
  
}

.countryInfo div {
  margin: 0%;
  margin-right: 15px;
  padding: 10px 20px;
  line-height: 2em;
  border-radius: 8px;
  background-color: black;
  min-width: 200px;
  /*max-height: 200px;
  width: 250px;*/
}
/*
.countryInfo div img {
  max-height: 200px;
  max-width: 250px;

} */

.countryInfo div h1, .countryInfo div h3 {
  /* font-size: 1rem; */
 
}
.countryCharts {
  display: flex;
  overflow-x: scroll;
}
.countryCharts div {
  margin-right: -1em;
}

.countryTableDiv {
  overflow-y: scroll;
  height: 800px;
  width: 1400px;
  text-align: left;
  background-color: black;
  padding: 15px 15px;
  border-radius: 8px;
}

.filtersContainer {
  padding-bottom: 15px; 
}

.filtersContainer input{
  margin-left: 45px; 
}

.filtersContainer label {
  margin-left: 5px; 
}

.filtersContainer .search {
  margin: 5px 0px 0px 5px; 
  height: 25px;
  width: 200px;
}

.countryTable {
  border: none; 
  border-collapse: collapse;

}

.countryTable td, .countryTable th {
  max-width: 222px; 
  min-width: 105px;
  padding: 8px 5px 8px 8px;
}

.countryTable th {
  background-color: black;
}

.countryTable tr:nth-child(even) {
  background-color: #1f2e46; 
}

.countryTable tr:nth-child(odd) {
  background-color: #21395e; 
}

.countryTable tr:nth-child(odd):hover, .countryTable tr:nth-child(even):hover {
  background-color: #67707d;
}





